<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Wilkson Carlos</h2>
            <h4>Email.example@email.com</h4>
        </div>
        <div>
            <img src="https://i.pinimg.com/originals/46/53/4f/46534f530bbe2b746c04827351e6180e.jpg" alt="WILL">
        </div>

    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Paginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Artigos</a>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Ferramentas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contatos    
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>    
        Lista de Contatos
    </a>

</mat-nav-list>